.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
position: absolute;
z-index: 20;
top:0;
left:800px;

}
.start-prompt button,
.start-prompt img{
  margin: 30px;
}

.start-prompt{
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
.explain-box{
text:white;
text-align: center;
-webkit-text-stroke: 1px #708090;
position: absolute;
top:300px;
left:400px;

}

.fluidCont{
text-align: center;

/* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

    background-size:100% 100%;

  width: 100% ;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.final-text {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}



.App-link2 {
  color: white;
}
.svg-draw {
      background-color: #f4e3d4;

position: absolute;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


