:root{
    --main-color: #06c;
    --impala-color:#5b43ba;
    --rev-impala-color:#ff9600;
    --white-impala-color:#d5e0e4;

}

h1#foo  {
    /* color: var(MainColor); */
    color: var(--impala-color);
}
h1#two  {
    /* color: var(MainColor); */
    color: var(--rev-impala-color);
}
h1#norm  {
    /* color: var(MainColor); */
    color: var(--white-impala-color);
}
