// Feel free to use the code below <3
// Add border top/right/left/bottom colors for more variations.

.loadingspinner {
	pointer-events: none;
	width: 50px;
	height: 50px;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}


